<mat-spinner *ngIf="isLoading"></mat-spinner>
<!--
  Note: we should change #noPostsTemplate to have its own ngIf because we don't want
  it to show when isLoading == true (the spinner is on the screen)
-->
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading; else noPostsTemplate">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPostsTemplate>
  <p class="mat-body-1 info-text">
    No posts added yet :(
  </p>
</ng-template>
